
*{
    margin: 0;
}

img.normal { 
    float: left; 
    height: 300px; 
    width: 300px; 
}
img.alta { 
    float: left; 
    height: 420px; 
    width: 300px; 
}
img.exerc { 
    float: left; 
    height: 260px; 
    width: 260px; 
}

h1 {
    border-bottom-style: inset;
}

.botao-editar {
    float: left;
    width: 60px;
    margin-bottom: 5px;
    background: #472cf3;
    color: white;
}

.botao-deletar {
    float: left;
    width: 60px;
    margin-bottom: 5px;
    background: #c00e05;
    color: white;
}

input {
    width: 350px;
}

.cabecalho {
    width: 100%;
    height: 100px;
    background: #CCC;
    margin-bottom: 20px;
}

header h1{
    color: #0d782f;
    text-align: center;
    padding-top: 22px;
}

a {
    background: #11dc51;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-left: 150px;
}

a:hover {
    background: #0d782f;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-bottom:30px ;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #f2f2f2;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .rodape {
    width: 100%;
    height: 100px;
    background: #CCC;
    margin-top: 25px;
}